{% extends 'tracker/base.html' %}

{% block content %}
    <h1 class="mb-4">My Study Sessions</h1>

<a href="{% url 'add_session' %}" class="btn btn-success mb-3">
    + Add New Session
</a>
    {% for session in sessions %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ session.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ session.course }}</h6>
                <p class="card-text"><strong>Duration:</strong> {{ session.duration }} mins</p>
                <p class="card-text"><strong>Date:</strong> {{ session.date }}</p>
                <p class="card-text"><strong>Description:</strong> {{ session.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}


